{% for s in services %}{% for p in s.ports | default([]) %}{% for chunk in p.split('${')[1:] %}{{ chunk.split('}')[0] }}=
{% endfor %}{% endfor %}{% for e in s.env | default([]) %}{{ e }}=
{% endfor %}{% endfor %}
