go 1.26

use (
	./packages/contacts/personname
	./packages/contacts/phonenumber
	./packages/contacts/socialnetwork
	./packages/http/httputil
	./packages/identity/rbac
	./packages/identity/user
	./packages/localization/language
	./packages/location/address
	./packages/location/geocoordinate
	./packages/media/image
	./packages/media/video
	./packages/money
	./packages/news/feed
	./packages/news/rss
	./packages/notifications/notify
	./packages/persistence/database
	./packages/persistence/repository
	./packages/persistence/repository/postgres
	./packages/real-estate/collection
	./packages/reference-data/dictionary
	./packages/seo
)
