go 1.26

use (
	./frameworks/bos-go
	./packages/analytics/visitoractivity
	./packages/calendar
	./packages/calendar/ical
	./packages/cms
	./packages/contacts/contact
	./packages/contacts/contact/vcard
	./packages/contacts/inquiry
	./packages/contacts/personname
	./packages/contacts/phonenumber
	./packages/contacts/socialnetwork
	./packages/faq
	./packages/http/httputil
	./packages/identity/auth
	./packages/identity/rbac
	./packages/identity/user
	./packages/jobs/scheduler
	./packages/jobs/scheduler/schedcli
	./packages/localization/language
	./packages/location/address
	./packages/location/geocoordinate
	./packages/media/image
	./packages/media/video
	./packages/money
	./packages/news/feed
	./packages/news/rss
	./packages/notifications/notify
	./packages/persistence/database
	./packages/persistence/repository
	./packages/persistence/repository/postgres
	./packages/real-estate/collection
	./packages/real-estate/property
	./packages/real-estate/transaction
	./packages/reference-data/dictionary
	./packages/seo
)
