go 1.26

use (
	./packages/content/dictionary
	./packages/content/feed
	./packages/content/rss
	./packages/datatypes/address
	./packages/datatypes/geocoordinate
	./packages/datatypes/language
	./packages/datatypes/money
	./packages/datatypes/personname
	./packages/datatypes/phonenumber
	./packages/datatypes/seo
	./packages/datatypes/socialnetwork
	./packages/foundation/database
	./packages/foundation/httputil
	./packages/foundation/notify
	./packages/foundation/repository
	./packages/foundation/repository/postgres
	./packages/identity/rbac
	./packages/identity/user
	./packages/media/image
	./packages/media/video
	./packages/real-estate/collection
)
